// scrollspy

h1 {
    padding-top: 50px;
  }
  
  img {
    max-width: 100%;
  }
  
  nav {
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.735);
    box-shadow: 2px 2px -20px 1px rgba(0, 0, 0, 0.2);  border-radius : 4px
    // background: rgba(255, 255, 255, 0.8);
  }
  
  nav li,
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto
  }
  
  nav li,
  nav a {
    display: flex;
    justify-content: center
  }
  
  nav a {
    padding: 20px;
    color: #333;
    text-decoration: none;
  }
  
  a.active {
    background: #00AC7F;
    color: #fff;
  }
  
  .wrap {
    position: relative;
    // max-width: 1000px;
    margin: 0 auto;
    // padding: 50px 20px;
    // background-color: transparent;
    background-color : white;
  }
  
  .wrap li a{
    font-family: 'Courier New', Courier, monospace;
    color : rgb(6, 125, 252);
   
  }
  
  .wrap li a:hover{
    transform: scale(1.2);
    font-weight: 550;
    // color: rgb(6, 125, 252)
  }
  
  section {
    padding: 50px 0 30px 0;
  }
  
  footer {
    text-align: center;
  }
  
  button {
    font-size: 18px;
    border: 0;
    padding: 15px 30px;
    background: #00AC7F;
    color: #fff;
    cursor: pointer;
  }
  
  //   navbar
  
  .toolbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px
  }
  
  .toolbar a {
    font-size: 1.2rem;
    color: rgb(6, 125, 252) // color : #fff
  }
  
  .title {
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    font-size: 5rem !important
  }
  
  .kalao {
    background-color: rgb(6, 125, 252);
    color: white !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9rem !important
  }
  
  .kalao:hover {
    background-color: indigo;
  }
  
  .middleContainer img {
    width: 7%;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .bgImage{
    position : absolute;
    z-index: -1;
    filter: blur(1px);
    opacity: .9
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .bgImage2{
    position : absolute;
    z-index: -1;
    filter: blur(1px);
    opacity: .9;
    margin: auto;
    width: 100%
  }
  
  #section-2{
    margin-left : 6%
  }
  
  // #section-2 {
  //   background-color: rgba(12, 148, 0, 0.557);
  // }
  
  // #section-2 h1 {
  //   color: #fff
  // }
  
  // #section-1{
  //   background-image: url("https://images4.alphacoders.com/566/thumb-1920-566555.png");
  // }
  
  #section-2 p{
    column-count: 2;
    font-size : 1.2rem;
    color : white;
    font-weight : 500
  }
  