<!-- <mat-toolbar class="toolbar"> -->
<div class="logo">
  <div style="display : flex; align-items: center">
    <!-- <img src="../assets/images/logotransparent.png" alt="Logo" /> -->
    <a class="title"  href="#section-1" du-smooth-scroll du-scrollspy offset="30">
      Polarized</a>
  </div>

  <!-- <ul class="list">
    <li><a mat-button href="#roadmap" du-smooth-scroll du-scrollspy offset="30">ROADMAP</a>
    </li>
    <li><a  mat-button href="#team" du-smooth-scroll du-scrollspy offset="30">TEAM</a>
    </li>
    <li><a mat-button>PARTNER WITH US</a>
    </li>
  </ul> -->

</div>

<!-- </mat-toolbar> -->
